.glide {

  top: -1%;

  &__bullets {
    bottom: -5%;
  }

  &__bullet {
    background-color: rgba(0, 0, 0, .2);
  }

  &__bullet.active {
    background-color: rgba(0, 0, 0, .65);
  }

  &__arrow {
    color: rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.05);
  }

  &__arrow:hover {
    color: rgba(20, 20, 20, .8);
    border-color: rgba(20, 20, 20, .65);
  }

  &__track {
    padding: 0;
  }

  &__slide {

    transition: all 200ms ease;
    height: 70vh;

    &.active {
      transform: scale(1.04);
    }

  }

}
