.glide {
  margin-top: 10px;

  &__wrapper {
    padding: 32px 0;
  }

  &__bullets {
    bottom: 54px
  }

  &__arrow {
    color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
  }

  &__arrow:hover {
    color: rgba(20, 20, 20, .3);
    border-color: rgba(20, 20, 20, .3);
  }

  &__slide {

    transition: all 200ms ease;
    transform-origin: 50% 50%;
    height: 200px;

    &.active {
      transform: scale(1.02);
    }

  }

}
