#particles-js, body {
  background-color: #72747C;
  -webkit-animation:  changeBgColor 60s linear infinite;
  -moz-animation:     changeBgColor 60s linear infinite;
  -ms-animation:      changeBgColor 60s linear infinite;
  -o-animation:       changeBgColor 60s linear infinite;
  animation:          changeBgColor 60s linear infinite;
}

#absolute-home h1.header, #main-nav .item {
  color: #ffe6e6;
  -webkit-animation:  changeFontColor 30s linear infinite;
  -moz-animation:     changeFontColor 30s linear infinite;
  -ms-animation:      changeFontColor 30s linear infinite;
  -o-animation:       changeFontColor 30s linear infinite;
  animation:          changeFontColor 30s linear infinite;
}

#rainbow-flow {
  color: #B72630;
  -webkit-animation:  rainbowColor 5s linear infinite;
  -moz-animation:     rainbowColor 5s linear infinite;
  -ms-animation:      rainbowColor 5s linear infinite;
  -o-animation:       rainbowColor 5s linear infinite;
  animation:          rainbowColor 5s linear infinite;
}

@-webkit-keyframes changeBgColor {
  0% {
    background-color: #72747C;
  }
  7% {
    background-color: #4A5166;
  }
  21% {
    background-color: #26344C;
  }
  35% {
    background-color: #0D1533;
  }
  49% {
    background-color: #00081A;
  }
  63% {
    background-color: #0D1533;
  }
  77% {
    background-color: #26344C;
  }
  92% {
    background-color: #4A5166;
  }
  100% {
    background-color: #72747C;
  }
}

@-moz-keyframes changeBgColor {
  0% {
    background-color: #72747C;
  }
  7% {
    background-color: #4A5166;
  }
  21% {
    background-color: #26344C;
  }
  35% {
    background-color: #0D1533;
  }
  49% {
    background-color: #00081A;
  }
  63% {
    background-color: #0D1533;
  }
  77% {
    background-color: #26344C;
  }
  92% {
    background-color: #4A5166;
  }
  100% {
    background-color: #72747C;
  }
}

@-o-keyframes changeBgColor {
  0% {
    background-color: #72747C;
  }
  7% {
    background-color: #4A5166;
  }
  21% {
    background-color: #26344C;
  }
  35% {
    background-color: #0D1533;
  }
  49% {
    background-color: #00081A;
  }
  63% {
    background-color: #0D1533;
  }
  77% {
    background-color: #26344C;
  }
  92% {
    background-color: #4A5166;
  }
  100% {
    background-color: #72747C;
  }
}

@-ms-keyframes changeBgColor {
  0% {
    background-color: #72747C;
  }
  7% {
    background-color: #4A5166;
  }
  21% {
    background-color: #26344C;
  }
  35% {
    background-color: #0D1533;
  }
  49% {
    background-color: #00081A;
  }
  63% {
    background-color: #0D1533;
  }
  77% {
    background-color: #26344C;
  }
  92% {
    background-color: #4A5166;
  }
  100% {
    background-color: #72747C;
  }
}

keyframes changeBgColor {
  0% {
    background-color: #72747C;
  }
  7% {
    background-color: #4A5166;
  }
  21% {
    background-color: #26344C;
  }
  35% {
    background-color: #0D1533;
  }
  49% {
    background-color: #00081A;
  }
  63% {
    background-color: #0D1533;
  }
  77% {
    background-color: #26344C;
  }
  92% {
    background-color: #4A5166;
  }
  100% {
    background-color: #72747C;
  }
}

@-webkit-keyframes changeFontColor {
  0% {
    color: #ffe6e6;
  }
  7% {
    color: #ffb3b3;
  }
  21% {
    color: #ff8080;
  }
  35% {
    color: #ff4d4d;
  }
  49% {
    color: #ff0000;
  }
  63% {
    color: #ff1a1a;
  }
  77% {
    color: #ff6666;
  }
  92% {
    color: #ff9999;
  }
  100% {
    color: #ffe6e6;
  }
}

@-moz-keyframes changeFontColor {
  0% {
    color: #ffe6e6;
  }
  7% {
    color: #ffb3b3;
  }
  21% {
    color: #ff8080;
  }
  35% {
    color: #ff4d4d;
  }
  49% {
    color: #ff0000;
  }
  63% {
    color: #ff1a1a;
  }
  77% {
    color: #ff6666;
  }
  92% {
    color: #ff9999;
  }
  100% {
    color: #ffe6e6;
  }
}

@-o-keyframes changeFontColor {
  0% {
    color: #ffe6e6;
  }
  7% {
    color: #ffb3b3;
  }
  21% {
    color: #ff8080;
  }
  35% {
    color: #ff4d4d;
  }
  49% {
    color: #ff0000;
  }
  63% {
    color: #ff1a1a;
  }
  77% {
    color: #ff6666;
  }
  92% {
    color: #ff9999;
  }
  100% {
    color: #ffe6e6;
  }
}

@-ms-keyframes changeFontColor {
  0% {
    color: #ffe6e6;
  }
  7% {
    color: #ffb3b3;
  }
  21% {
    color: #ff8080;
  }
  35% {
    color: #ff4d4d;
  }
  49% {
    color: #ff0000;
  }
  63% {
    color: #ff1a1a;
  }
  77% {
    color: #ff6666;
  }
  92% {
    color: #ff9999;
  }
  100% {
    color: #ffe6e6;
  }
}

keyframes changeFontColor {
  0% {
    color: #ffe6e6;
  }
  7% {
    color: #ffb3b3;
  }
  21% {
    color: #ff8080;
  }
  35% {
    color: #ff4d4d;
  }
  49% {
    color: #ff0000;
  }
  63% {
    color: #ff1a1a;
  }
  77% {
    color: #ff6666;
  }
  92% {
    color: #ff9999;
  }
  100% {
    color: #ffe6e6;
  }
}

 /*Rainbow Effect*/

@-webkit-keyframes rainbowColor {
  0% {
    color: #B72630;
  }
  10% {
    color: #C96236;
  }
  24% {
    color: #C0BC48;
  }
  39% {
    color: #58B75E;
  }
  53% {
    color: #073D85;
  }
  77% {
    color: #4140A5;
  }
  92% {
    color: #414066;
  }
  100% {
    color: #B72630;
  }
}

@-moz-keyframes rainbowColor {
  0% {
    color: #B72630;
  }
  10% {
    color: #C96236;
  }
  24% {
    color: #C0BC48;
  }
  39% {
    color: #58B75E;
  }
  53% {
    color: #073D85;
  }
  77% {
    color: #4140A5;
  }
  92% {
    color: #414066;
  }
  100% {
    color: #B72630;
  }
}

@-o-keyframes rainbowColor {
  0% {
    color: #B72630;
  }
  10% {
    color: #C96236;
  }
  24% {
    color: #C0BC48;
  }
  39% {
    color: #58B75E;
  }
  53% {
    color: #073D85;
  }
  77% {
    color: #4140A5;
  }
  92% {
    color: #414066;
  }
  100% {
    color: #B72630;
  }
}

@-ms-keyframes rainbowColor {
  0% {
    color: #B72630;
  }
  10% {
    color: #C96236;
  }
  24% {
    color: #C0BC48;
  }
  39% {
    color: #58B75E;
  }
  53% {
    color: #073D85;
  }
  77% {
    color: #4140A5;
  }
  92% {
    color: #414066;
  }
  100% {
    color: #B72630;
  }
}

keyframes rainbowColor {
  0% {
    color: #B72630;
  }
  10% {
    color: #C96236;
  }
  24% {
    color: #C0BC48;
  }
  39% {
    color: #58B75E;
  }
  53% {
    color: #073D85;
  }
  77% {
    color: #4140A5;
  }
  92% {
    color: #414066;
  }
  100% {
    color: #B72630;
  }
}
