/* basic setup */
html, body {
  height: 100%;
  max-height: 100%;
}

/* particle library */
#particles-js {
  width: 100%;
  height: 115%;
  max-height: 140%;
  top: -2%;
  position: absolute;
}
/* home.html */

#absolute-home {
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 61%;
  max-width: 90vw;
  height: 80vh;
  max-height: 90%;
  pointer-events: none;
}

#absolute-home #home-view {
  pointer-events: auto;
  text-align: center;
  margin: 0 auto;
}

#absolute-home h1.header {
  font-size: 2.3rem;
}

/*
#absolute-home .divider {
  margin: 0 0 1rem 0;
}*/

/*
#absolute-home .sub-header {
  margin: 0;
}

#absolute-home img {
  margin: 1rem auto;
}*/

/* about.html */
/*
#absolute-about {
  position: absolute;
  z-index: 100;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 90vw;
  max-height: 90%;
  pointer-events: none;
}

#absolute-about #about-view {
  pointer-events: auto;
  margin: 0;
}

#absolute-about #web-dev-title {
  margin-top: -2%;
}*/

/* projects.html */
/*
#absolute-projects {
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 90vw;
  max-height: 90%;
  pointer-events: none;
}

#absolute-projects #project-view {
  pointer-events: auto;
}

#absolute-projects .project-surround {
  padding: 0 1.5vw;
  margin: 2vh 2vw;
}

#absolute-projects h2.header {
  border-bottom: 2px solid black;
}

#absolute-projects p {
  text-align: justify;
}

#absolute-projects .span-right {
  float: right;
}

#absolute-projects .cursor-grab {
  cursor: grab;
  cursor: -webkit-grab;
}

#absolute-projects .cursor-grab:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
*/
/* contact.html */
/*
#absolute-contact {
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 90vw;
  max-height: 90%;
  pointer-events: none;
}

#absolute-contact #contact-view {
  pointer-events: auto;
}
*/

/* side-bar nav */
/*#navigation {
  display: flex;
  flex-direction: column;
  z-index: 200;
}

#nav-button {
  position: fixed;
  top: 3.5%;
  left: 0;
  z-index: 100;
}

#growth {
  flex-grow: 1;
}

.sidebar-menu-item {
  padding: 10px 0 10px 15px;
  color: ghostwhite;
}

.sidebar-menu-item:last-child {
  border-top: 3px solid rgba(35, 15, 15, .1);
}

.sidebar-menu-item:last-child:hover {
  color: ghostwhite;
}

.sidebar-menu-item:first-child {
  margin-top: 0px;
  border-top: none;
}
*/
