/* basic setup */
html, body {
  position: static;
  height: 100%;
  width: 100%;
  background-color: gray;
}

/* particle library */
#particles-js {
  width: 100%;
  height: 102%;
  top: -10px;
  background-color: gray;
  position: absolute;
}

/* side-bar nav */
#navigation {
  display: flex;
  flex-direction: column;
  z-index: 200;
}

#nav-button {
  position: absolute;
  top: 2%;
  left: 0;
  z-index: 100;
}

#growth {
  flex-grow: 1;
}

.sidebar-menu-item {
  padding: 10px 0 10px 15px;
  color: ghostwhite;
}

.sidebar-menu-item:last-child {
  border-top: 2px solid rgba(35, 15, 15, .1);
}

.sidebar-menu-item:last-child:hover {
  color: ghostwhite;
}

.sidebar-menu-item:first-child {
  margin-top: 0px;
  border-top: none;
}

/* home.html */

#absolute-home {
  position: absolute;
  margin-top: 5%;
  margin-bottom: 2%;
  width: 90vw;
  left: 5vw;
}

#absolute-home h1.header {
  font-size: 3.5rem;
}

/* about.html */

#absolute-about {
  position: absolute;
  margin-top: 5%;
  margin-bottom: 2%;
  width: 90vw;
  left: 5vw;
}

/* projects.html */

#absolute-projects {
  position: absolute;
  margin-top: 5%;
  margin-bottom: 2%;
  width: 90vw;
  left: 5vw;
}

#project-view {
  height: 85vh;
}

.project-surround {
  padding: 2vh 2vw;
  min-height: 65vh;
  margin: 2vh 2vw;
}

.project-link {
  color: inherit;
}

/* contact.html */

#absolute-contact {
  position: absolute;
  margin-top: 5%;
  margin-bottom: 2%;
  width: 90vw;
  left: 5vw;
}
