/* basic setup */
html, body {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: gray;
}

/* particle library */
#particles-js {
  width: 100%;
  height: 102%;
  top: -10px;
  background-color: gray;
  position: fixed;
}

/* side-bar nav */
#navigation {
  display: flex;
  flex-direction: column;
}

#growth {
  flex-grow: 1;
}

.sidebar-menu-item {
  padding: 10px 0 10px 15px;
  color: ghostwhite;
}

.sidebar-menu-item:last-child {
  border-top: 2px solid rgba(35, 15, 15, .1);
}

.sidebar-menu-item:last-child:hover {
  color: ghostwhite;
}

.sidebar-menu-item:first-child {
  margin-top: 0px;
  border-top: none;
}

/* home.html */

#absolute-home {
  position: absolute;
  top: 25%;
  left: 15.5%;
}

/* about.html */

#absolute-about {
  position: absolute;
  top: 25%;
  left: 15.5%;
}

/* projects.html */

#absolute-projects {
  position: absolute;
  top: 8%;
  left: 15.5%;
}


/* contact.html */

#absolute-contact {
  position: absolute;
  top: 25%;
  left: 15.5%;
}

#contact-img {
  height: 116px;
  width: 116px;
  margin: 0 auto;
  vertical-align: middle;
}
