<div id="absolute-about">
  <div id="about-view" class="ui segment grid">
    <div class="ui horizontal divider"><h1 class="header">About</h1></div>
    <div class="row">
      <div class="ten wide column middle aligned">
        <div id="web-dev-title" class="ui horizontal divider"><h3 class="header">Web Developer</h3></div>
        <p>
          <strong>

            After graduating from Northwestern University,
          </strong>
            I moved to Los Angeles to work in the film industry, but
            found computer programming instead. <br><br>

            I currently work as an <a href="https://generalassemb.ly/instructors/ezra-raez/6752" title="WDI">instructor</a>
            for General Assembly's Web Development Immersive Course in
            Downtown Los Angeles.
        </p>

          <div class="ui horizontal segments">
            <div class="ui segment">
              <div class="ui divided list">
                <div class="item"><div class="header">Languages</div></div>
                <div class="item">JavaScript</div>
                <div class="item">Ruby</div>
                <div class="item">Python</div>
                <div class="item">Clojure</div>
                <div class="item">HTML / CSS / SQL</div>
                <div class="item">PHP</div>
              </div>
            </div>
            <div class="ui segment">
              <div class="ui divided list">
                <div class="item"><div class="header">Frameworks</div></div>
                <div class="item">MEAN Stack</div>
                <div class="item">Ionic</div>
                <div class="item">ReactJS</div>
                <div class="item">Ruby on Rails</div>
                <div class="item">Bootstrap</div>
                <div class="item">Semantic UI</div>
              </div>
            </div>
            <div class="ui segment">
              <div class="ui divided list">
                <div class="item"><div class="header">Libraries & Technologies</div></div>
                <div class="item">jQuery</div>
                <div class="item">LoDash</div>
                <div class="item">Heroku / Deployment</div>
                <div class="item">Amazon Web Services</div>
                <div class="item">GulpJS</div>
                <div class="item">Webkit</div>
              </div>
            </div>
          </div>

      </div>
      <div class="six wide column middle aligned">
        <img ng-src="http://i.imgur.com/doNzY7Ll.jpg" alt="Ezra" class="ui bordered fluid image rounded" />
      </div>
    </div>
    <div class="row">
      <div class="three wide column middle aligned">
        <img ng-src="/assets/images/mashpi.gif" alt="mashpi lodge, ecuador" class="ui fluid image rounded">
      </div>
      <div class="three wide column middle aligned">
        <img src="http://i.imgur.com/GPkxkt1m.jpg" alt="car" class="ui fluid image rounded">
      </div>
      <div class="seven wide column middle aligned">
        <div class="ui horizontal divider"><h5>Photographer & Cartoonist</h5></div>
        <p>
          I've been doing freelance photography for over three years.
          It also gives me a good excuse to get out of the city and into
          the woods.
          <br /><br />
          I draw cartoons as a hobby and write my own webcomic, Useless Comix.
        </p>
      </div>
      <div class="three wide column middle aligned">
        <img src="http://i.imgur.com/UWrdWlWm.jpg" alt="cartoon" class="ui fluid image rounded">
      </div>
    </div>
  </div>
</div>
