<div id="absolute-about">
  <div class="ui padded segment grid">
    <div class="ui horizontal divider"><h1 class="header">About</h1></div>
    <div class="row">
      <div class="ten wide column">
        <h2 class="header">Web Developer</h2>
        <p>
          <strong>
            After graduating from Northwestern University, I moved to
            Los Angeles to join the film industry, but found computer
            programming instead. After working about every job in the
            film industry (storyboard artist, sound recordist, assistant
            camera, director, etc.), I took a course in Web Development
            and, over the last year, I've found all the things I loved
            in film, and more. I love my work; breaking down huge
            problems to the small challenges that make them up is an
            absolute thrill. Additionally, all of my training in
            managing a film set assist me in delegating tasks to my
            students and coworkers. I am passionate about programming
            and I cannot wait to learn even more.
          </strong>
        </p>
      </div>
      <div class="six wide column">
        <img ng-src="http://i.imgur.com/doNzY7L.jpg" alt="Ezra" class="ui bordered medium image rounded" />
      </div>
    </div>
    <h4 class="header">Photographer & Cartoonist</h4>
    <div class="row">
      <div class="four wide column middle aligned">
        <img ng-src="http://i.imgur.com/Es9lvSd.jpg" alt="tenmile lake" class="ui image medium rounded bordered">
      </div>
      <p class="four wide column">
          Currently, I'm working on a documentary on a rally race
          team in my free time. I also use camping as an excuse to find
          that perfect time lapse.
        <br /><br />
          I also draw comics and cartoons as a hobby - I write my own
          webcomic called Useless Comix.
      </p>
      <div class="four wide column middle aligned">
        <img src="http://i.imgur.com/GPkxkt1.jpg" alt="car" class="ui image rounded medium bordered">
      </div>
      <div class="four wide column middle aligned">
        <img src="http://i.imgur.com/UWrdWlW.jpg" alt="cartoon" class="ui image rounded medium bordered">
      </div>
    </div>
  </div>
</div>
