<div id="absolute-about">
  <div class="ui padded segment grid">
    <div class="ui horizontal divider"><h1 class="header">About</h1></div>
    <div class="row">
      <div class="eight wide column">
        <div class="ui horizontal divider"><h3 class="header">Web Developer</h3></div>
        <p>
          <strong>

            After graduating from Northwestern University,
          </strong>
            I moved to Los Angeles to work in the film industry, but
            found computer programming instead. <br><br>

            I currently work as an instructor for General Assembly's
            Web Development Immersive in Downtown Los Angeles.
        </p>

          <div class="ui horizontal segments">
            <div class="ui segment">
              <div class="ui divided list">
                <div class="item"><div class="header">Languages</div></div>
                <div class="item">JavaScript</div>
                <div class="item">Ruby</div>
                <div class="item">Python</div>
                <div class="item">Clojure</div>
                <div class="item">HTML/CSS</div>
                <div class="item">SQL</div>
              </div>
            </div>
            <div class="ui segment">
              <div class="ui divided list">
                <div class="item"><div class="header">Frameworks</div></div>
                <div class="item">AngularJS</div>
                <div class="item">ReactJS</div>
                <div class="item">MEAN Stack</div>
                <div class="item">Ruby on Rails</div>
                <div class="item">Sinatra</div>
              </div>
            </div>
            <div class="ui segment">
              <div class="ui divided list">
                <div class="item"><div class="header">Libraries</div></div>
                <div class="item">Bootstrap</div>
                <div class="item">Semantic UI</div>
                <div class="item">Materialize</div>
                <div class="item">jQuery</div>
                <div class="item">LoDash</div>
                <div class="item">Mongoose.js</div>
              </div>
            </div>
          </div>

      </div>
      <div class="eight wide column">
        <img ng-src="http://i.imgur.com/doNzY7L.jpg" alt="Ezra" class="ui bordered fluid image rounded" />
      </div>
    </div>
    <div class="row">
      <div class="three wide column middle aligned">
        <img ng-src="/assets/images/mashpi.gif" alt="mashpi lodge, ecuador" class="ui fluid image rounded">
      </div>
      <div class="three wide column middle aligned">
        <img src="http://i.imgur.com/GPkxkt1.jpg" alt="car" class="ui fluid image rounded">
      </div>
      <div class="seven wide column">
        <div class="ui horizontal divider"><h5>Photographer & Cartoonist</h5></div>
        <p>
          I've been doing freelance photography since moving to Los Angeles.
          I also use traveling and camping as an excuse to find exceptional
          landscapes for timelapses.
          <br /><br />
          I also draw comics and cartoons as a hobby - I write my own
          webcomic called Useless Comix.
        </p>
      </div>
      <div class="three wide column middle aligned">
        <img src="http://i.imgur.com/UWrdWlW.jpg" alt="cartoon" class="ui fluid image rounded">
      </div>
    </div>
  </div>
</div>
