<div id="absolute-contact">
  <div class="ui segment grid">
    <div class="ui horizontal divider"><h1 class="header">Contact</h1></div>
    <div class="row">
      <div class="four wide column">
        <div class="ui segment circular inverted red rounded fluid container">
          <image class="ui centered image fluid circular" ng-src="https://avatars1.githubusercontent.com/u/12765592?v=3&s=460"></image>
        </div>
      </div>
      <div class="nine column wide middle aligned">
        <div class="ui relaxed divided big fluid list">
          <h2 class="header">Socials</h2>
          <div class="item">
            <i class="mail icon"></i>
            <div class="content">
              <a class="header" href="mailto:dickschiller@uselesscomix.com">Email</a>
            </div>
          </div>
          <div class="item">
            <i class="github icon"></i>
            <div class="content">
              <a class="header" href="https://github.com/ezRAez">ezRAez</a>
            </div>
          </div>
          <div class="item">
            <i class="linkedin icon"></i>
            <div class="content">
              <a href="https://www.linkedin.com/in/ezraez" class="header">ezRAez</a>
            </div>
          </div>
          <div class="item">
            <i class="instagram icon"></i>
            <div class="content">
              <a href="https://www.instagram.com/ezRAezRAez/" class="header">ezRAezRAez</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
