<div id="absolute-contact" class="ui padded text container segment">
  <div class="ui horizontal divider"><h1 class="header">Contact</h1></div>
  <div class="ui small horizontal segments grid">
    <div class="ui segment small inverted red rounded compact">
      <image class="ui centered image small circular" ng-src="https://avatars1.githubusercontent.com/u/12765592?v=3&s=460"></image>
    </div>
    <div class="ui segment eleven wide column">
      <div class="ui relaxed divided small list float left">
        <div class="item">
          <i class="mail icon"></i>
          <div class="content">
            <a class="header" href="mailto:dickschiller@uselesscomix.com">Email</a>
          </div>
        </div>
        <div class="item">
          <i class="github icon"></i>
          <div class="content">
            <a class="header" href="https://github.com/ezRAez">ezRAez</a>
          </div>
        </div>
        <div class="item">
          <i class="linkedin icon"></i>
          <div class="content">
            <a href="https://www.linkedin.com/in/ezraez" class="header">ezRAez</a>
          </div>
        </div>
        <div class="item">
          <i class="instagram icon"></i>
          <div class="content">
            <a href="https://www.instagram.com/ezRAezRAez/" class="header">ezRAezRAez</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
