<div id="absolute-home" class="ui centered container">

  <div id="home-view">
    <div class="ui very padded segment middle aligned centered">
      <div class="ui horizontal divider"><h1 class="header">Ezra Arez Raez</h1></div>
      <h3 class="sub-header"><small>PHOTOGRAPHER</small> - <strong>WEB DEVELOPER</strong> - <small>CARTOONIST</small></h3>




        <div class="ui centered image big rounded">
          <img ng-src="/assets/images/lead_ez_suit.jpg" alt="Ezra">
        </div>

        <br>
      <div class="ui animated horizontal list relaxed">
        <div class="item">
          <div class="content">
            <div class="header"><a ui-sref="about" title="about"><small><h3>About</h3></small></a></div>
          </div>
        </div>
        <div class="item">
          <div class="content">
            <div class="header"><a ui-sref="projects" title="projects"><small><h3>Portfolio</h3></small></a></div>
          </div>
        </div>
        <div class="item">
          <div class="content">
            <div class="header"><a ui-sref="contact" title="contact"><small><h3>Contact</h3></small></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

