<div id="absolute-home" class="ui very padded centered container">

  <div class="ui padded segment grid centered">
    <div class="ui horizontal divider">
      <h1 class="header">EZRA AREZ RAEZ</h1>
    </div>

    <div class="row">
      <div class="fourteen wide column">
        <img src="http://i.imgur.com/8lCNXW9.jpg" alt="Ezra" class="ui fluid centered image huge rounded">
      </div>
    </div>

    <div class="ui horizontal divider">
      <h4 class="header"><small>Photographer</small> - <strong>Web Developer</strong> - <small>Cartoonist</small></h4>
    </div>


    <div class="ui animated horizontal list relaxed">
      <div class="item">
        <div class="content">
          <div class="header"><a ui-sref="about" title="about">About</a></div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="header"><a ui-sref="projects" title="projects">Projects</a></div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="header"><a ui-sref="contact" title="contact">Contact</a></div>
        </div>
      </div>
      </div>
  </div>

</div>
<script>
  $('#joke-bar').progress();
</script>

