<div id="absolute-projects">
  <div id="project-view" class="ui segment">

  <div class="ui horizontal divider"><h1 class="header">Projects</h1></div>

  <div>
    <div id="Glide" class="glide glide--horizontal">
      <div class="glide__arrows">
        <button data-glide-dir="&lt;" data-glide-trigger="#Glide" class="glide__arrow prev"><</button>
        <button data-glide-dir="&gt;" data-glide-trigger="#Glide" class="glide__arrow next">></button>
      </div>

      <div class="glide__wrapper">
        <ul class="glide__track">
          <li class="glide__slide">
            <div class="project-surround">
              <div class="ui grid segment black cursor-grab">
                <div class="two column row">
                  <div class="column">
                    <h2 class="header">
                      Reversi
                      <span class="span-right">
                        <a href="http://ezraez.github.io/reversi"><i class="external icon"></i></a>
                        <a href="https://github.com/ezRAez/reversi"><i class="github icon"></i></a>
                      </span>
                    </h2>
                    <p class="content">
                      The difficulty in programming Reversi is the dynamic
                      nature of the game play.  A move could take anywhere
                      between one and six opponent pieces in a given move.
                    </p>
                    <div>
                      <img src="../assets/images/projects/reversi_code.png" alt="reversi code"  class="ui centered rounded bordered fluid image">
                    </div>
                    <br>
                    <p class="content">
                      <strong>Key Function:</strong> <code>searchBoard</code>
                      compiles the surrounding squares' values in a given
                      direction into a string, making it easy for a regex to
                      find a valid move.
                    </p>
                  </div>
                  <div class="column middle aligned">
                    <div class="ui image fluid rounded bordered">
                      <img ng-src="../assets/images/projects/reversi.png" alt="reversi">
                    </div>
                    <div class="ui list">
                      <div class="item">
                        <h4 class="header">Techniques Used:</h4>
                      </div>
                      <div class="item"><i class="right triangle icon"></i>
                        Recursive Function Calls
                      </div>
                      <div class="item"><i class="right triangle icon"></i>
                        Complex Logic
                      </div>
                      <div class="item"><i class="right triangle icon"></i>
                        Model/View Separation
                      </div>
                      <div class="item"><i class="right triangle icon"></i>
                        DOM Manipulation with JQuery
                      </div>
                      <div class="item"><i class="right triangle icon"></i>
                        Regex for Move Validation
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="glide__slide">
            <div class="project-surround">
              <div class="ui grid segment yellow cursor-grab">
                <div class="two column row">
                  <div class="column">
                    <h2 class="header">
                      Derry's Fishin' Friends
                      <span class="span-right">
                        <a href="https://enigmatic-mesa-72649.herokuapp.com/#/"><i class="external icon"></i></a>
                        <a href="https://github.com/ezRAez/derrys_fishin_friends"><i class="github icon"></i></a>
                      </span>
                    </h2>
                    <p class="content">The difficulty in programming Reversi is
                    the dynamic nature of the game play.  A move could take
                    anywhere between one and six opponent pieces in a given
                    move.</p>
                    <div>
                      <img src="../assets/images/projects/reversi_code.png" alt="reversi code"  class="ui centered rounded bordered fluid image">
                    </div><br>
                    <p class="content">
                      <strong>Key Function:</strong> <code>searchBoard</code>
                      compiles the surrounding squares' values in a given
                      direction into a string, making it easy for a regex to
                      find a valid move.
                    </p>
                  </div>
                  <div class="column middle aligned">
                    <div class="ui image fluid rounded bordered">
                      <img ng-src="../assets/images/projects/derry_fishin_friends.png" alt="derry">
                    </div>
                    <div class="ui list">
                      <div class="item">
                        <h4 class="header">Techniques Used:</h4>
                      </div>
                      <div class="item"><i class="right triangle icon"></i>
                        MEAN Stack
                      </div>
                      <div class="item"><i class="right triangle icon"></i>
                        JWT Authentication
                      </div>
                      <div class="item"><i class="right triangle icon"></i>
                        ui-Router
                      </div>
                      <div class="item"><i class="right triangle icon"></i>
                        AJAX using $http
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="glide__slide">
            <div class="project-surround">
              <div class="ui grid segment red cursor-grab">
                <div class="two column row">
                  <div class="column">
                    <h2 class="header">
                      Useless Comix
                      <span class="span-right">
                        <a href="https://obscure-earth-62654.herokuapp.com/"><i class="external icon"></i></a>
                      </span>
                    </h2>
                    <p class="content">The difficulty in programming Reversi is
                    the dynamic nature of the game play.  A move could take
                    anywhere between one and six opponent pieces in a given
                    move.</p>
                    <div>
                      <img src="../assets/images/projects/reversi_code.png" alt="reversi code"  class="ui centered rounded bordered fluid image">
                    </div><br>
                    <p class="content">
                      <strong>Key Function:</strong> <code>searchBoard</code>
                      compiles the surrounding squares' values in a given
                      direction into a string, making it easy for a regex to
                      find a valid move.
                    </p>
                  </div>
                  <div class="column middle aligned">
                    <div class="ui image fluid rounded bordered">
                      <img ng-src="http://i.imgur.com/UWrdWlWl.jpg" alt="uc">
                    </div>
                    <div class="ui list">
                      <div class="item">
                        <h4 class="header">Techniques Used:</h4>
                      </div>
                      <div class="item"><i class="right triangle icon"></i>
                        Ruby on Rails
                      </div>
                      <div class="item"><i class="right triangle icon"></i>
                        AWS S3 Bucket Integration
                      </div>
                      <div class="item"><i class="right triangle icon"></i>
                        Admin Features
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="glide__slide">
            <div class="project-surround">
              <div class="ui grid segment violet cursor-grab">
                <div class="two column row">
                  <div class="column">
                    <h2 class="header">
                      JAMN!
                      <span class="span-right">
                        <a href="http://fast-chamber-70325.herokuapp.com/api/"><i class="external icon"></i></a>
                      </span>
                    </h2>
                    <p class="content">The difficulty in programming Reversi is
                    the dynamic nature of the game play.  A move could take
                    anywhere between one and six opponent pieces in a given
                    move.</p>
                    <div>
                      <img src="../assets/images/projects/reversi_code.png" alt="reversi code"  class="ui centered rounded bordered fluid image">
                    </div><br>
                    <p class="content">
                      <strong>Key Function:</strong> <code>searchBoard</code>
                      compiles the surrounding squares' values in a given
                      direction into a string, making it easy for a regex to
                      find a valid move.
                    </p>
                  </div>
                  <div class="column middle aligned">
                    <div class="ui image fluid rounded bordered">
                      <img ng-src="http://www.conceptdraw.com/solution-park/resource/images/solutions/basketball/Sport-Basketball-field-color-Template.png" alt="jamn">
                    </div>
                    <div class="ui list">
                      <div class="item">
                        <h4 class="header">Techniques Used:</h4>
                      </div>
                      <div class="item"><i class="right triangle icon"></i>
                        Ionic
                      </div>
                      <div class="item"><i class="right triangle icon"></i>
                        Yelp API
                      </div>
                      <div class="item"><i class="right triangle icon"></i>
                        Google Maps API
                      </div>
                      <div class="item"><i class="right triangle icon"></i>
                        Node, ExpressJS, and MongoDB
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="glide__slide">
            <div class="project-surround">
              <div class="ui grid segment blue cursor-grab">
                <div class="two column row">
                  <div class="column">
                    <h2 class="header">
                      Xanthic && Ochre
                      <span class="span-right">
                        <a href="http://ezraez.github.io/xanthic_ochre"><i class="external icon"></i></a>
                        <a href="https://github.com/ezRAez/xanthic_ochre"><i class="github icon"></i></a>
                      </span>
                    </h2>
                    <p class="content">The difficulty in programming Reversi is
                    the dynamic nature of the game play.  A move could take
                    anywhere between one and six opponent pieces in a given
                    move.</p>
                    <div>
                      <img src="../assets/images/projects/reversi_code.png" alt="reversi code"  class="ui centered rounded bordered fluid image">
                    </div><br>
                    <p class="content">
                      <strong>Key Function:</strong> <code>searchBoard</code>
                      compiles the surrounding squares' values in a given
                      direction into a string, making it easy for a regex to
                      find a valid move.
                    </p>
                  </div>
                  <div class="column middle aligned">
                    <div class="ui image fluid rounded bordered">
                      <img ng-src="../assets/images/projects/xanthic_ochre.png" alt="xanthic">
                    </div>
                    <div class="ui list">
                      <div class="item">
                        <h4 class="header">Techniques Used:</h4>
                      </div>
                      <div class="item"><i class="right triangle icon"></i>
                        jQuery-UI Animations
                      </div>
                      <div class="item"><i class="right triangle icon"></i>
                        Minimal Design
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="glide__bullets"></div>

    </div>
  </div>
  <!-- End of Glide Box -->
</div>
  <script>
    $('#Glide').glide({
      type: 'carousel',
      autoplay: false,
      hoverpause: true,
      autoheight: true,
      centered: true,
      startAt: 1,
      throttle: 0,
      animationDuration: 500,
      paddings: "12%"
    });
  </script>
</div>
